---
layout: default
---
<section class="home nav-savior" ng-controller="HomeController as home" style="min-height: 100vh">
  <div class="container">
    <div class="flex flex--flow-row-wrap movie-list">
      
      <a href="/watch?movie_id=[[film.id]]" class="col-25 movie md-33 sm-100" ng-repeat="film in home.filmList">
        <div class="thumbnail" style="background-image: 
            url('/storage/movie/[[film.id]]/thumbnail.png'), 
            url('/storage/movie/[[film.id]]/thumbnail.jpg'),
            url('/storage/movie/[[film.id]]/thumbnail.jpeg'),
            url('/assets/dummy/thumbnail.png') ">
        </div>
        <h1 class="title">[[film.title]]</h1>
      </a>

    </div>
  </div>
</section>