---
layout: default
---
<section class="upload nav-savior full-height full-width maximum-center" id="controller--movie-uploader" ng-controller="MovieUploader as mu">
  <div class="upload-container">
    <h1 class="form-header">Movie Upload</h1>
    <form action="/api/movie_upload.php" method="POST" enctype="multipart/form-data">
      
      <label class="input-header" for="movie">File</label>
      <div class="input-description">Upload only (*.mp4) file</div>
      <input type="file" accept="video/mp4" name="movie" id="movie" ng-model="mu.formData.movie" required>
      
      <label class="input-header" for="movie--title">Title</label>
      <div class="input-description">max. 40 character</div>
      <input type="text" name="movie--title" id="movie--title" maxlength="40" ng-model="mu.formData.title" required>

      <label class="input-header" for="movie--thumbnail">Thumbnail</label>
      <input type="file" accept="image/jpeg, image/png" name="movie--thumbnail" id="movie--thumbnail" ng-model="mu.formData.thumbnail">
      
      <div class="button-wrap">
        <div>
          <input type="checkbox" name="movie--r18" id="movie--r18" value="true" ng-model="mu.formData.r18">
          <label for="movie--r18">NSFW. R18. Not Family-Friendly</label>
        </div>
        <button type="submit" name="submit" id="submit">Upload</button>
      </div>

    </form>
  </div>
</section>