---
layout: default
---
<section id="controller--movie-watcher" class="nav-savior video-streamer" ng-controller="MovieWatcher as mw"> 
  <div id="video-container">

    <video id="video-source" ng-src="[[ mw.info.videoUrl | trustUrl ]]" type="video/mp4"></video>
    
    <div id="video-player">
      
      <div id="video-subtitle">
        click to play video
      </div>
      
      <div id="video-control">
        <button id="button--play-pause" class="play"><i class="fa fa-play"></i><i class="fa fa-pause"></i></button>
        <div id="video-info">
          <span id="current-time">00:00</span>
          <span id="duration-time">00:00</span>
        </div>
        <input type="range" id="seek-bar" value="0">
        <button id="button--fullscreen"><i class="fa fa-window-maximize"></i></button>
      </div>

    </div>

  </div>


  <div class="video-data">
    <h1 class="video-title" id="video-title">[[mw.info.title]]</h1>
    {% if false %}
    <select name="video-subtitle" id="video-subtitle">
      <option value="en">English</option>
      <option value="id">Indonesia</option>
    </select>
    {% endif %}
  </div>
</section>
<script src="/assets/js/video-control.js"></script>