footer{
  background: $color-grey-1;
  color: $color-grey-9;

  header{
    text-align: center;
  }
  
  ul{
    padding: 0;
    margin: 0;

    > li{
      list-style-type: none;

      > a{
        text-decoration: none;
        color: inherit;
      }
    }
  }

  ul.footer-links{
    margin-bottom: 60px;
    padding-left: 41px;

    > h3{
      font-size: 22px;
      line-height: 22px;
    }

    > li{
      font-size: 16px;
      line-height: 22px;
    }

    @media (max-width: $screen-medium){
      margin-bottom: 0;
    }
  }

  ul.social-links{
    padding-bottom: 80px;
    padding-top: 60px;
    
    > li{
      width: 48px;
      height: 48px;
      margin: 0 4px;
      border-radius: 48px;
      background: $color-grey-9;
      color: $color-grey-1;
      text-align: center;

      a{
        display: block;
      }

      i.fa{
        line-height: 48px;
        font-size: 24px;
      }
    }
  }

  .logo{
    text-align: center;
    align-self: center;

    margin: 30px 0;
    
    img{
      width: 80px;
    }

    p{
      font-size: 18px;
      font-style: italic;

      &::before,&::after{
        content: '\"';
        font-size: 1.4em;
      }
    }
  }
}