nav.site-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: $navigation-font;
  font-size: 18px;
  z-index: 9001;
  color: #ffffff;
  background: #609e84;
  
  a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .logo{
    display: block;
    height: 85px;
    line-height: 85px;
    text-align: center;
  }

  .nav-wrap{
    @extend .container;
    z-index: 1;
  }

  ul.site-links{
    display: block;
    margin: 0;
    padding: 0;

    &.slide-left{
      margin-right: auto;
    }

    &.slide-right{
      margin-left: auto;
    }
    
    > li{
      list-style-type: none;
      float: left;
      height: 85px;
      line-height: 85px;

      > a{
        margin: 0 10px;    
     
        &:hover{
          color: $color-orange-1;
        }  
      }
    }
  }

  .btn-nav{
    position: relative;
    border: 2px solid $color-gold-1;

    &:before{
      display: block;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: transparent;
      z-index: -1;
      transition: ease-in-out 150ms all;
    }

    &:hover{
      color: $color-black;

      &:before{
        background: $color-gold-1;
      }  
    }
  }

  @media (max-width: $screen-medium){

    .nav-header{
      text-align: center;
      font-size: 28px;
      display: flex;
      justify-content: center;

      .logo{
        margin: auto;
        height: 55px;
        line-height: 55px;
      }

      .burger{
        font-size: 32px;
        line-height: 55px;
        margin-left: auto;
        margin-right: 18px;
      }
    }

    .nav-wrap{
      position: fixed;
      top: 0;
      right: 0;
      padding: 0;
      display: block;
      background: $color-grey-3;
      color: $color-black;
      height: 100vh;
      width: 220px;
      transform: translateX(220px);
      font-size: 15px;

      &.active{
        transition: ease-in-out 200ms transform;
        transform: translateX(0);
      }
    }

    ul.site-links{

      > li{
        float: none;
        height: 55px;
        line-height: 55px;
        border-top: solid $color-grey-4 1px; 

        > a{
          display: block;
          padding-left: 20px;
        }
      }

      &:last-of-type li:last-of-type{
        border-bottom: solid $color-grey-4 1px;
      }
    }

    .btn-nav{
      padding: 0;
      height: 55px;
      line-height: 55px;
      border: none;
      background: $color-gold-1;
      color: $color-grey-8;
      width: 100%;
      text-align: center;
      color: $color-black;

      &.space-left{
        margin: 0;
      }

      &:hover{
        color: $color-black;
      }
    }
  }
}

.page-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
  height: 0;

  &.active{
    height: 100vh;
  }
}

.nav-savior{
  padding-top: 85px;
}