.container{
  width: 100%;
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.full-width{
  width:100% !important;
}

.full-height{
  height:100vh !important;
}

.full-width.full-height.maximum-center{
  @include flex-maximum-center;
}

.flex{
  display: flex;

  @for $i from 1 through 12{
    .col-#{round(100 * ($i / 12))}{
      width: 100% * ($i / 12);
    }
  }

  [class*="col-"]{

    @media (max-width: $screen-medium){
      @for $i from 1 through 12{
        &.md-#{round(100 * ($i / 12))}{
          width: 100% * ($i / 12);
        }
      }
    }

    @media (max-width: $screen-small){
      @for $i from 1 through 12{
        &.sm-#{round(100 * ($i / 12))}{
          width: 100% * ($i / 12);
        }
      }
    }
  }

  &.flex--flow-row-wrap{
    flex-flow: row wrap;
  }

  &.flex--flow-row-norwrap{
    flex-flow: row nowrap;
  }
  
  &.flex--align-items-center{
    align-items: center;
  }

  &.flex--center{
    justify-content: center;
  }

  &.flex--space-aroud{
    justify-content: space-around;
  }
}

.dummy-height{
  height: 1000px;
}