.movie-list{

  .movie{
    padding: 10px;
    text-decoration: none;
    color: inherit;

    .thumbnail{
      width: 100%;
      height: 320px;
      background-size: cover;
      background-position: center;
    }

    .title{
      text-align: center;
      font-size: 12px;
    }
  }
}