section.upload{

  .upload-container{
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
  }

  .form-header{
    text-align: center;
  }

  .input-header{
    margin-top: 40px;
    font-size: 20px;
    font-family: $header-font;
  }
  .input-description{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .thumbnail{
    width: 100%;
    height: 320px;
    background-size: cover;
    background-position: center;
  }

  input[type="checkbox"] + label{
    display: inline-block;
    cursor: pointer;
    vertical-align: center;
    line-height: 20px;
  }

  input[type="checkbox"]:checked + label{
    color: red;
    font-weight: 700;
    user-select: none;
    font-size: 20px;

    &:after{
      content: ' !!';
    }
  }
}