section.video-streamer{
  
  #video-container{
    position: relative;
    background: #111;
    max-height: calc(100vh - 150px);
    overflow: hidden;

    #video-source{
      display: block;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;

      // &::-webkit-media-controls{
      //   display: none !important;
      // }
    }
  }

  #video-player{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all ease-in-out 250ms;
    transform: translateY(40px);
  }
    
  #video-subtitle{
    margin-bottom: 10px;
    display: inline-block;
    padding: 4px;
    color: #ddd;
    background: rgba(#111, 0.4);  
  }

  #video-control{
    background: #222;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > *{
      display: block;
      color: #ddd;
    }

    button{
      background: #222;
      padding: 10px;
      width: 40px;
      height: 40px;
    }
    
    button#button--play-pause{

      .fa{
        display: none;
      }

      &.play{
        .fa-play{
          display: block;
        }
      }

      &.pause{
        .fa-pause{
          display: block;
        }
      }
    }

    #video-info{
      @media (max-width: $screen-small){
        display: none;
      }

      #current-time::after{
        content: ' / ';
      }
    }


    #seek-bar{
      width: 70%;
    }

    button#button--fullscreen{

    }
  }

  .video-data{

    .video-title{
      text-align: center;
      line-height: 24px;
      font-size: 24px;
    }
  }

  // TRIGGER
  #video-container{

    &:hover{

      #video-player{
        transform: translateY(0);
      }
    }
  }

}