<nav class="site-nav">
  <div class="nav-header" hidden>
    <a href="/" class="logo">CE FLIX</a>
    <i class="fa fa-bars burger nav-trigger" aria-hidden="true"></i>
  </div>

  <div class="nav-wrap flex flex--flow-row-nowrap flex--align-items-center">
    <a href="/" class="logo">CE FLIX</a>
    <ul class="site-links slide-left"> 
      <li><a href="#">Movie</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">Genre</a></li>
      <li><input type="text"></li>
    </ul>
    
    <ul class="site-links slide-right">
      <li><a href="/upload"><i class="fa fa-upload"></i> Upload</a></li>
      <li><a href="/login"><i class="fa fa-hand-o-right"></i> Login</a></li>
    </ul>
  </div>

  <div class="nav-trigger page-overlay"></div>
</nav>

<script>
(function () {
  var navTrigger = document.querySelectorAll('.nav-trigger');
  for(var i = 0; i<navTrigger.length; i++){
    navTrigger.item(i).addEventListener('click', function(){
      document.querySelector('.page-overlay.nav-trigger').classList.toggle('active');
      document.querySelector('.nav-wrap').classList.toggle('active');
    });
  }

  var links = document.querySelectorAll('.site-links a');
  for(var i = 0; i < links.length; i++){
    links.item(i).addEventListener('click', function(){
      document.querySelector('.page-overlay.nav-trigger').classList.remove('active');
      document.querySelector('.nav-wrap').classList.remove('active');
    });
  }
}());
</script>