<!DOCTYPE html>
<html lang="en" ng-app="ceflix">
<head>
  <meta charset="UTF-8">
  <title>{{ site.name }}</title>

  <!-- seo -->
  <meta name="Keywords" content="{{ site.name }}">
  <meta name="Description" content="{{site.description}}">
  <meta name="Subject" content="">
  <meta name="robots" content="index,follow">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/vendor/angular/angular.min.js"></script>
  <script src="/assets/js/loadJSON.js"></script>
  <script src="/assets/js/main.js"></script>
</head>
<body style="position:relative;"> 

{{content}}

  <script src="/assets/js/sandbox.js"></script>
</body>
</html>