@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen|Roboto');

$navigation-font: 'Fjalla One', sans-serif; 
$header-font: 'Roboto', sans-serif; 
$paragraph-font: 'Oxygen', sans-serif;
$footer-font: monospace; 

$screen-wide: 1200px;
$screen-large: 1024px;
$screen-medium: 800px;
$screen-small: 380px;

$color-white: #c0c0c0;
$color-black: #181a1c;

$color-orange-1: #e9a45a;
$color-orange-2: #efbc84;

$color-gold-1: #cca240;

// material grey
$color-grey-0 :#FAFAFA;
$color-grey-1 :#F5F5F5;
$color-grey-2 :#EEEEEE;
$color-grey-3 :#E0E0E0;
$color-grey-4 :#BDBDBD;
$color-grey-5 :#9E9E9E;
$color-grey-6 :#757575;
$color-grey-7 :#616161;
$color-grey-8 :#424242;
$color-grey-9 :#212121;

h1,h3,h5{
  font-family: $header-font;
}

p{
  font-family: $paragraph-font;
}

h1,h3,h5,p{

  .gold{
    color: $color-orange-1;
  }
}